
.flex { display: flex; }

.space-between{ justify-content: space-between; }
.align-items-center { align-items: center; }
.flex-grow { flex-grow: 1; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex: 1;
}
