
.flex { display: flex; }

.space-between{ justify-content: space-between; }
.align-items-center { align-items: center;}
.align-items-end { align-items: flex-end;}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex: 1;
}
