/**
* material overrides
*/

/* only do uppercases on custom Subtitle component for now */
.MuiTypography-root.title {
  text-transform: uppercase;
}

div.MuiToolbar-dense {
  min-height: 30px ;
}

.MuiTabs-root {
  background: #fff !important;
  min-height: 30px;
}

.MuiTab-root {
  text-transform: none !important;
  min-width: inherit !important;
  min-height: 30px;
}

.MuiButtonBase-root.Mui-selected {
  color: #333;
}

.MuiTabs-root .MuiTabs-indicator {
  background-color: $secondary-color;
  height: 4px;
  transform: translateY(-35px);
}

.MuiTabs-root.MuiTabs-vertical .MuiTabs-indicator {
  width: 4px;
}



.MuiButtonBase-root.Mui-selected {
  color: #333;
}

.MuiTabs-indicator {
  height: 4px;
  background-color: $secondary-color;
  transform: translateY(-35px);
}

.MuiTabs-indicator {
  transition: none;
}

.MuiCircularProgress-indeterminate {
  animation-duration: 0.8s !important;
}

// re-style paper except for app bar, alerts, and menu
.MuiCard-root,
.MuiPaper-root:not(.MuiAppBar-root):not(.MuiAlert-root):not(.MuiMenu-paper) {
  // border: 1px solid rgba(0, 0, 0, 0.125);
  // box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 0;
}

.MuiMenu-paper {
  box-shadow: 2px 5px 5px 2px rgb(0 0 0 / 9%);
}

.MuiButton-root,
.MuiToggleButton-label {
  text-transform: none;
}

.MuiStep-root {
  display: inline-flex;
  margin-bottom: 10px;
}
.MuiStepLabel-label {
  margin-left: 10px;
  font-size: 1em;
}

.MuiTableCell-stickyHeader {
  background-color: #fff;
}

.MuiChip-outlined {
  color: #333;
}

a.MuiChip-colorPrimary,
a.MuiListItem-root {
  color: initial;
}

.no-elevation {
  box-shadow: none !important;
}


