
/**
* material overrides
*/

div.MuiToolbar-dense {
  min-height: 30px ;
}

.MuiTabs-root {
  background: #fff !important;
}

.MuiTab-root {
  text-transform: none !important;
  min-width: inherit !important;
}

.MuiButtonBase-root.Mui-selected {
  color: $primary-color;
}

.MuiTabs-indicator {
  background-color: $primary-color !important; /* primary color */
  transform: translateY(-45px);
}

.MuiCircularProgress-indeterminate {
  animation-duration: 0.8s !important;
}

.MuiCard-root,
.MuiPaper-root:not(.MuiAppBar-root) {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05) !important;
}

.MuiPaper-elevation1 {
  /* Fixme(nc): hack to make paper above selector label hack */
  z-index: 2 !important;
}

/* Fixme(nc): hack to fix vertical tab bug */
.MuiTabs-root[orientation="vertical"] .MuiTabs-flexContainer {
  flex-direction: column;
}

.MuiTabs-root[orientation="vertical"] .MuiTabs-indicator {
  display: none;
}

.MuiButton-root,
.MuiToggleButton-label {
  text-transform: none;
}

.MuiStepIcon-root{
  color: $primary-color !important;
}

.MuiStepIcon-primary {
  color: $primary-color;
}

.MuiButton-containedPrimary {
  background: $primary-color;
}

.MuiBadge-badge {
  background: $primary-color !important;
}

.MuiStep-root {
  display: inline-flex;
  margin-bottom: 20px;
}
.MuiStepLabel-label {
  margin-left: 10px;
  font-size: 1em;
}