
body {
    font-family: 'Roboto';
}
a, a.visited {
    color: #3a8cc2;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    color: #215b81;
}

.p4-ui {
    @import './general.scss';
    @import './tables.scss';
    @import './mui-overrides.scss';
    @import './hottable-overrides.scss';
}

