.react-calendar-heatmap {
  height: 100%;

  .success-1 { fill: #b2dfb0; }
  .success-2 { fill: #8ed88b; }
  .success-3 { fill: #4cc948; }
  .success-4 { fill: #06af00; }
  .fail-1 { fill: #ffc5c5; }
  .fail-2 { fill: #ff8686; }
  .fail-3 { fill: #d34848; }
  .fail-4 { fill: #b90000; }

}